.sidebar {
  background-color: #202020;
  width: clamp(240px, 15vw, 240px);
  height: 100vh;
  position: fixed;
  font-size: 14px;
  border-right: 1px solid #202020;
  left: 0;
  top: 0;
  font-weight: 600;
}

.nav-links {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
  display: flex;
  align-items: center;
  color: #83827d;
  padding: 4px 7px;
  text-decoration: none;
  background-color: #202020;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 0;
  font-weight: 600;
}

.nav-item:hover {
  background-color: #2c2c2c;
  border-radius: 8px;
}

.nav-item.home-item {
  color: white;
  margin-bottom: 15px;
  gap: 0;
}

.nav-item .icon {
  color: #83827d;
  margin-right: 4px;
  font-size: 1.125rem;
}

.logo-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.nav-item.home-item span {
  flex-grow: 0;
}

.add-btn {
  margin-left: auto;
  color: #83827d;
  font-size: 1.125rem;
  padding-right: 10px;
}

.settings-item {
  margin: 0;
  margin-top: auto;
  padding-bottom: 25px;
}
